/* Text */
.text-center{
    text-align: center;

}

heading-small{
    font-size: 1.25rem;
}

heading-medium{
    font-size: 1.5rem;
}

heading-big{
    font-size: 2rem;
}

/*Colors*/


.bg-dark-blue{
    background: rgb(39, 136, 109);
}

.bg-light-blue{
    background: lightblue;
}


/* Buttons */
.btn{ 
    /*button classı olan her yerde geçerli olacak */ 
    background: #336ea2;
    margin-top: 1.25rem;
    padding: 0.8rem 3rem;
    border-radius: 7px;
    letter-spacing: 0.5px;

}
.btn-primary{
    background: rgb(39, 136, 109);
}
.btn-primary:hover{
    background: #fff;
    color: #336ea2;
    border: 0.5px solid #336ea2;
}

.btn-dark{
    background: black;
}

.btn-dark:hover{
    background: #fff;
    color: black;
    border: 0.5px solid black;
}

.btn-block{ 
    width: 100%;
    text-align: center;

}

.form-group{
    padding: 0.25rem 0;
}


.form-group label{
   
    display: block;
}

.form-control{
    
    width: 100%;
    padding: 0.25rem;
    font-size: 1rem;
    resize: none;
    border-radius: 5px;


}
/*Container */

.container{
    max-width: 1500px;
    margin: 0 auto;
}
